fastapi
uvicorn
python-multipart
ultralytics
opencv-python
pillow
requests
torch
torchvision
torchaudio
numpy
uvicorn
annotated-doc
annotated-types
anyio
asttokens
certifi
charset-normalizer
click
comm
contourpy
cycler
debugpy
decorator
executing
filelock
fonttools
fsspec
h11
idna
jedi
Jinja2
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
mpmath
nest-asyncio
networkx
packaging
parso
pexpect
platformdirs
polars
polars-runtime-32
prompt_toolkit
psutil
ptyprocess
pure_eval
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
PyYAML
pyzmq
scipy
setuptools
six
stack-data
starlette
sympy
tornado
traitlets
typing-inspection
typing_extensions
ultralytics-thop
urllib3
wcwidth